body {
    margin: 0px;
    padding: 0px;
    background: black;
    touch-action: pinch-zoom;
}
.game-container {
    background: #bbada0;
    border-radius: 6px;
    overflow: hidden;
    position:relative;
}

.tile {
    border-radius: 3px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightskyblue;
    color: white;
    font-size: 35px;
    font-family: sans-serif;
    position: absolute;
    text-align: center;
    user-select: none;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    transition: top 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53), left 0.3s ease-in;
}


.popped {
    transition: top 1s cubic-bezier(0.6, -0.28, 0.735, 0.045), left 1s linear;
    animation:spin 4s linear infinite;
}

.tile.vowel {
    background-color: deepskyblue;
}

.tile.selected {
    background-color: darkblue;
}

.tile .score {
    position: absolute;
    font-size: 13px;
    line-height: 13px;
    padding:3px;
    text-align: right;
    bottom: 0px;
    right: 0px;
    left: unset;
    top:unset;
    z-index:2;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.score-container {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    display:inline-flex;
}

.words-container {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

.dbg {
    position:fixed;
    width: 15px;
    height: 15px;
    left: 200px;
    top: 200px;
    background-color: magenta;
}